<!--
<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>

<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username: </label>
  <input type="text" name="user[username]" placeholder="similar to David"><br /><br />
  <label for="email">Email: </label>
  <input type="text" name="user[email]" placeholder="example@example.com"><br /><br />
  <label for="password">Password: </label>
  <input type="password" name="user[password]"><br /><br />
  <input type="submit">
</form>

<%= form_tag '/users'%>
  <%= label_tag 'username' %>
  <%= text_field_tag 'username', nil, placeholder: 'similar to David' %><br /><br />
  <%= label_tag 'email' %>
  <%= text_field_tag 'email', nil, placeholder: 'example@sm.com' %><br /><br />
  <%= label_tag 'password' %>
  <%= password_field_tag 'password' %><br /><br />
  <%= submit_tag 'Create' %>
-->

<h1>Edit User: <%= @user.username %> </h1>
<p>Find me in app/views/user/edit.html.erb</p>



<%= form_for @user do |f| %>

<% if @user.errors %>
<ul>
<% @user.errors.full_messages.each do |error_message| %>
<li>
<%= error_message %>
</li>
<% end %>
<% end %>
</ul>

  <%= f.label :username %>
  <%= f.text_field :username, placeholder: 'Similar to David' %><br /><br />
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'Your email here' %><br /><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br /><br />
  <%= f.submit :Create %>
  <% end %> 